body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: black;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 14px 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.welcome-message {
    text-align: center;
    padding: 20px;
}

.welcome-message h1 {
    margin-bottom: 10px;
}

.welcome-message p {
    margin: 0;
}

.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 20px; 
}

.main-content img {
    max-width: 500px; 
    height: auto;
}

.main-content p {
    margin: 20px;
    padding: 20px;
}

.main-content h3 {
    margin: 80px;
}

.content {
    flex: 1;
}

.form-container {
    width: 300px;
    background-color: #4ed7e9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto; 
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.form-container p {
    margin-bottom: 15px;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #3a95be;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

